<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Stryve App</title>
  </head>
  <body>

  	<!-- if authenticated -->
	<div v-if="isAuthenticated">
		<h1>logged in</h1>
	</div>
	<!-- /if authenticated -->

	<!-- not authenticated -->
	<div v-else>
		<div id="login-or-register">
			<div id="login-or-register-inner">
    			<register v-if="isRegistering"></register>    		
				<login v-else></login>
	    	</div>
	    </div>
	</div>
    <!-- /not authenticated -->

    <script src="dist/build.js"></script>
  </body>
</html>