* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	color: #E8E8E8;
	font-size: 13px;
	font-family: Whitney, Helvetica Neue, Helvetica Neue, Helvetica, sans-serif;
	-webkit-user-select: none;
}
body, html { 
	background: #36393e;
    overflow-x: hidden; 
    overflow-y: hidden;
}

ul {
	list-style-type: none;
}

input {
	outline: none;
	color: #CFCFCF;
	background: #424549;
	padding: 8px;
	border: 2px #686a6e solid;
	border-radius: 3px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 50px #424549 inset;
    -webkit-text-fill-color: #5f6265;
}

input::-webkit-input-placeholder {
	color: #5f6265;
	font-weight: bold;
}

select {
	outline: none;
	color: #CFCFCF;
	background: #424549;
	padding: 8px;
	border: 2px #686a6e solid;
	border-radius: 3px;
}

button {
	cursor: pointer;
    border: 2px solid #212427;
    border-radius: 3px;
    font-size: 18px;
    padding: 5px 5px 2px 5px;
    color: #E8E8E8;
    background: #424549;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

button:hover {
	background: #4C4F53;	
}

button:focus {
	outline: none;
}
a {
	color: #738BD7;
	text-decoration: none;
}
a:focus {
	color: #738BD7;	
}
a:hover {
	text-decoration: underline;
}
.btn-block {
	width: 100%;
}
.form-element-wrapper {
	clear: both;
	margin: 10px;
}

.form-element-wrapper label {
	font-weight: bold;
	font-size: 16px;
	
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.text-danger { color: #ed3838 }
.text-success { color: #2C9E6A }

.float-right { float: right; }
.float-left { float: left; }
.clear { clear: both; }

::selection {
  background: #A6BEFF;
}

#release-tag {
	cursor:	default;
	float: right;
	padding: 5px;
	color: #738bd7;
	font-weight: bold;
	font-size: .8em;
}
#release-tag.release-front {
	position: absolute;
	top: 0;
	right: 0;
}

#login-or-register {
	display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
#login-or-register label {
	font-size: 1.15em;
	font-weight: bold;
}
#login-or-register h1 {
	text-align: center;
}
#login-or-register input {
	width: 100%;
	text-align: center;
}
#login-or-register input[type="checkbox"] {
	width: auto;
}

#server-list-container {
	float: left;
	padding: 0px 10px 10px 10px;
	background: #1e2124;
	min-height: 100%;
	width: 80px;
	overflow: scroll;
}

#server-list-container::-webkit-scrollbar {
	display: none;
}

#server-list-container > ul > li {
	margin: 10px 0 10px 0;
}

#server-list-container > ul > li > i {
	font-size: 25px;
}
#server-list-container > ul > li,
#server-list-container > div {
	background: #2E3136;
	border-radius: 50%;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	-webkit-transition: background 0.2s, border-radius 0.2s; /* Safari */
    transition: background 0.2s, border-radius 0.2s;
}
#server-list-container > ul:hover,
#server-list-container > div:hover {
	cursor: pointer;
}
#server-list-container > ul > li:hover,
#server-list-container > div:hover {
	background: #738bd7;
	border-radius: 15px;
}

#server-list-container > ul > li.active {
	background: #738bd7;
	border-radius: 15px;	
}

#server-list-container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #36393E;
    margin: 10px 10px;
    padding: 0;
}

#server-list-container > #new-server {
	color: #36393e;
	margin-top: 3px;
	background: inherit;
    border: dashed 1px #36393e;
    -webkit-transition: color 0.2s, border-color 0.2s, border-radius 0.2s; /* Safari */
    transition: color 0.2s, border-color 0.2s, border-radius 0.2s;
}
#server-list-container > #new-server > span > i {
	font-size: 25px;
}

#server-list-container > #new-server:hover {
	color: #E8E8E8;
	border-color: #E8E8E8;
	border-radius: 15px;
}

#server-channels-container {
	float: left;
	background: #2e3136;
	min-height: 100%;
	width: 240px;
}
#server-channels-container > #c-search {
	min-height: 52px;
	border-bottom: 2px solid #212427;
	background: #2e3136;
	padding: 10px;
}
#server-channels-container > #c-search > input {
	background: #373a3f;
	font-size: 12px;
	width: 100%;
	padding: 7px 30px 7px 7px;
	border: 1px #232629 solid;
}
#server-channels-container > #c-search > span {
	float: right;
    margin-right: 8px;
    margin-top: -22px;
    position: relative;
    z-index: 2;
    color: #5f6265;
}
#server-channels-container > #channels-top {
	min-height: 52px;
	border-bottom: 2px solid #212427;
	background: #2e3136;
	-webkit-transition: background 0.2s; /* Safari */
    transition: background 0.2s;
    cursor: default;
}
#server-channels-container > #channels-top.is-owner:hover {
	cursor: pointer;
	background: #232629;
}

#server-channels-container > #channels-top.server-menu-open {
	background: #232629;
}

#server-channels-container > #channels-top > h3 {
	width: 180px;
	padding: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

#server-channels-container > #channels-top > span > i {
	padding: 15px;
	width: 60px;
	float: right;
	text-align: center;
	font-size: 20px
}

#chat-server-menu {
	position: fixed;
	left: 80px;
	top: 52px;
	width: 240px;
	z-index: 9;
	-webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.2);
	/*-webkit-font-smoothing: antialiased;
	transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);*/
}
#chat-server-menu > ul > li {
	color: #5f6265;
	padding: 15px;
	font-size: 14px;
  	font-weight: bold;
  	background: #282b30;
  	-webkit-transition: color 0.2s, background 0.2s; /* Safari */
    transition: color 0.2s, background 0.2s;
}
#chat-server-menu > ul > li:hover {
	color: #E8E8E8;
	cursor: pointer;
	background: #232629;
}

#channels-list-header {
	color: #5f6265;
	-webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}
#channels-list-header:hover {
	cursor: pointer;
	color: #E8E8E8;
}
#channels-list-header-inner {
	text-transform: uppercase;
	font-weight: 700;
	padding: 20px 20px 20px 20px;
}
#channels-list-header-inner .plus {
	float: right;
}
#channels-list .hashtag {
	color: #5f6265;
}
#channels-list {
  	overflow: auto;
}
#channels-list::-webkit-scrollbar {
	display: none;
}

#channels-list > ul > li {
	min-height: 40px;
	letter-spacing: 1px;
	border-left: 4px #2e3136 solid;
	-webkit-transition: background 0.2s, border 0.2s; /* Safari */
    transition: background 0.2s, border 0.2s;
}
#channels-list > ul > li.listening {
	border-left: 4px #2C9E6A solid;
}
#channels-list > ul > li.listening.active {
	border-left: 4px #2C9E6A solid;
}
#channels-list > ul > li.listening:hover {
	border-left: 4px #2C9E6A solid;
}
#channels-list > ul > li.active {
	background: #232629;
	border-left: 4px #738bd7 solid;
}
#channels-list > ul > li:hover {
	background: #232629;
	border-left: 4px #738bd7 solid;
}

#channels-list > ul > li > .channel-name {
	width: 192px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	padding: 14px 0px 8px 16px;
}
#channels-list > ul > li > .channel-name:hover {
	cursor: pointer;
}

#channels-list > ul > li > .icons {
	display: none;
	color: #5f6265;
	float: right;
	padding-right: 20px;
  	margin-top: 13px;
}
#channels-list > ul > li:hover .icons,
#channels-list > ul > li.active .icons {
	display: block;
}

#channels-list > ul > li > .icons > .icon {
	-webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

#channels-list > ul > li > .icons > .icon:hover {
	color: #E8E8E8;
	cursor: pointer;
}

/*******************/
/** Contacts List **/
/*******************/
#contacts-list .hashtag {
	color: #5f6265;
}
#contacts-list {
  	overflow: auto;
}
#contacts-list::-webkit-scrollbar {
	display: none;
}

#contacts-list > ul > li {
	min-height: 40px;
	letter-spacing: 1px;
	border-left: 4px #2e3136 solid;
	-webkit-transition: background 0.2s, border 0.2s; /* Safari */
    transition: background 0.2s, border 0.2s;
}
#contacts-list > ul > li.listening {
	border-left: 4px #2C9E6A solid;
}
#contacts-list > ul > li.listening.active {
	border-left: 4px #2C9E6A solid;
}
#contacts-list > ul > li.listening:hover {
	border-left: 4px #2C9E6A solid;
}
#contacts-list > ul > li.active {
	background: #232629;
	border-left: 4px #738bd7 solid;
}
#contacts-list > ul > li:hover {
	background: #232629;
	border-left: 4px #738bd7 solid;
}

#contacts-list > ul > li > .contact-name {
	width: 172px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
	padding: 14px 0px 8px 16px;
}
#contacts-list > ul > li > .contact-name:hover {
	cursor: pointer;
}

#contacts-list > ul > li > .icons {
	/*display: none;*/
	color: #5f6265;
	float: right;
	padding-right: 20px;
  	margin-top: 13px;
}
#contacts-list > ul > li:hover .icons > a {
	cursor: pointer;
}

#contacts-list > ul > li:hover .icons,
#contacts-list > ul > li.active .icons, {
	display: block;
}

#contacts-list > ul > li > .icons > .icon {
	-webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

#contacts-list > ul > li > .icons > .icon:hover {
	color: #E8E8E8;
	cursor: pointer;
}

#contacts-list > ul > li > .icons > .online-status.online {
	color: #2C9E6A;
}

#contacts-list > ul > li > .icons > .online-status.away {
	color: #f0ae34;
}

#contacts-list > ul > li > .icons > .online-status.offline {
	color: #ed3838;
}

/**/

#user-settings {
	position: absolute;
	height: 55px;
	width: 240px;
	bottom: 0;
	background: #232629;
}

#user-settings-inner {
	padding: 20px 10px 30px 10px;
}

#user-settings-inner > .avatar {
	float: left;
	width: 25px;
	height: 25px;
	text-transform: uppercase;
	border-radius: 50px;
	background: #ed3838;
	margin-top: -5px;
	text-align: center;
	padding-top: 6px;
}

#user-settings-inner > .avatar > span {
	font-weight: bold;
}

#user-settings-inner > .username {
	float: left;
	margin-left: 5px;
	font-size: 14px;
	width: 125px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
}

#user-settings-inner > .icons {
	float: right;
	margin-top: -8px;
}

#user-settings-inner > .icons > li {
	cursor: pointer;
	border: 1px solid #212427;
	display: inline-block;
	font-size: 18px;
	padding: 5px 5px 2px 5px;
	color: #5f6265;
	background: #36393e;
	-webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}
#user-settings-inner > .icons > li:first-child {
	border-right: none;
	padding: 5px 5px 2px 5px;
}

#user-settings-inner > .icons > li:last-child {
	margin-left: -5px;
}

#user-settings-inner > .icons > li:hover {
	color: #E8E8E8;
}

#channel-messages-container {
	float: left;
}

#channel-messages-header-wrapper {
	min-height: 52px;
    border-bottom: 2px solid #212427;
    /*-webkit-app-region: drag;*/
}

#channel-messages-header-left {
	float: left;
    padding: 14px 20px
}

#channel-messages-header-left > h3 {
	font-size: 18px;
	cursor: default;
}

#channel-messages-header-left .hashtag {
	color: #5f6265;
}

#channel-messages-header-right {
	float: right;
}

#channel-messages-header-right > ul {
	padding: 10px;
}

#channel-messages-header-right > ul > li {
	color: #5f6265;
	display: inline-block;
	margin-left: 7px;
	-webkit-transition: color 0.2s; /* Safari */
    transition: color 0.2s;
}

#channel-messages-header-right > ul > li:hover {
	cursor: pointer;
	color: #E8E8E8;
}

#channel-messages {
	float: left;
	width: 456px;
}

#channel-messages > #user-input {
	/*min-width: inherit;*/
    min-height: 60px;
	position: absolute;
    bottom: 0;
    width: 456px;
    padding: 20px;
	border-top: 1px solid #424549;
}

#channel-messages > #user-input > #user-input-inner > #user-input-container > #user-upload {
	padding: 7px;
	float: left;
	color: #5f6265;
	background: #424549;
	border: 2px #686a6e solid;
	border-radius: 3px 0 0 3px;
	-webkit-transition: background 0.2s, color 0.2s; /* Safari */
    transition: background 0.2s, color 0.2s;
}

#channel-messages > #user-input > #user-input-inner > #user-input-container > #user-upload:hover {
	cursor: pointer;
	color: #E8E8E8;
	background: #4C4F53;
}

#channel-messages > #user-input > #user-input-inner > #user-input-container > #user-upload > span > i {
	font-size: 21px;
}
#channel-messages > #user-input > #user-input-inner > #user-input-container > #user-message-input > input {
	background: #424549;
	padding: 10px 40px 10px 10px;
	border: 2px #686a6e solid;
	border-left: none;
	border-radius: 0 3px 3px 0;
	/*width: 377px;*/
}

#channel-messages > #user-input > #user-input-inner > #user-input-container > #user-message-input > input:focus {
	outline: none;
}

#channel-messages > #user-input > #user-input-inner > #user-input-container > #user-message-input > input::-webkit-input-placeholder {
	color: #5f6265;
	font-weight: bold;
}

#channel-messages > #user-input > #user-input-inner > #user-input-container > #user-message-input > span {
    float: right;
  	margin-right: 11px;
  	margin-top: -28px;
  	position: relative;
  	z-index: 2;
  	color: #5f6265;
  	font-size: 20px;
    -webkit-transition: color 0.2s; /* Safari */
  	transition: color 0.2s;
}
#channel-messages > #user-input > #user-input-inner > #user-input-container > #user-message-input > span:hover {
	cursor: pointer;
	color: #E8E8E8;
}
#channel-messages > #messages-container {
	padding: 5px 10px;
	overflow: auto;
	-webkit-user-select: text;
}
#channel-messages > #messages-container::-webkit-scrollbar {
    width: 12px;
}
 
#channel-messages > #messages-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2); 
    border-radius: 10px;
}
 
#channel-messages > #messages-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.4); 
}
#channel-messages > #messages-container > ul > li {
	padding: 5px 0;
	color: #CFCFCF;
	font-size: 16px;
} 
#channel-messages > #messages-container > ul > li > div > .message-username-container {
	padding-bottom: 5px;
}
#channel-messages > #messages-container > ul > li > div > div > span.username {
	font-weight: bold;
	color: #ffffff;
}
#channel-messages > #messages-container > ul > li > div > div > span.timestamp {
	font-size: .75em;
	padding-left: 5px;
	color: #9C9C9C;
}

.channel-event {
	padding: 10px;
	text-align: center;
	font-weight: bold;
}
.channel-event > span.subscriber {
	color: #2C9E6A;
}
.channel-event > span.unsubscriber {
	color: #ed3838;
}
.channel-event-link {
	cursor: pointer;
}

#channel-users {
	padding: 20px 0px;
	background: #2e3136;
	float: right;
	width: 240px;
}

#channel-users > ul {

}

#channel-users > ul > li {
	min-height: 44px;
	padding: 10px 20px;
	-webkit-transition: background 0.2s; /* Safari */
    transition: background 0.2s;
}

#channel-users > ul > li:hover {
	cursor: pointer;
	background: #232629;
}

#channel-users > ul > li > .avatar {
	float: left;
    width: 36px;
    height: 36px;
    text-transform: uppercase;
    border-radius: 50px;
    background: #2C9E6A;
    margin-top: -6px;
    text-align: center;
    padding-top: 7px;
}
#channel-users > ul > li > .avatar > span {
	font-size: 20px;
	font-weight: bold;

}
#channel-users > ul > li > .username {
	float: left;
    margin-left: 5px;
    font-size: 18px;
    width: 158px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tooltip {
	padding: 3px 5px;
	background: #738bd7;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
}
.tooltip-pointer {
	border-radius: 20px;
	-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
}
.tooltip-pointer-left {
	border-style: solid;
	border-width: 7.5px 13.0px 7.5px 0;
	border-color: transparent #738ad7 transparent transparent;
}
.tooltip-pointer-down {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8.7px 5px 0 5px;
	border-color: #738ad7 transparent transparent transparent;
}

.modal {
	position: fixed;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.2);
}
.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: #000;
	opacity: 0.5;
}

.modal-common {
	padding: 15px;
	background: #2E3136;
	left: 50%;
	top: 40%;
	width: 400px;
	margin-left: -200px;
	/*margin-top: -119px;*/
	z-index: 10;
}

.modal-common input {
 	width: 100%;
}
.modal-common input[type=checkbox] {
 	width: auto;
}
.modal-common select,
.modal-common input[type=text] {
 	margin-top: 5px;
}
.modal-common select {
 	width: 100%;
}


#new-server-modal {
	margin-top: -128px;
}
#new-server-modal #join-server input{
	text-align: center;
}

#new-server-options {
	text-align: center;
}
#new-server-options a {
	cursor: pointer;
}
#new-server-options > button {
	width: 100%;
}

#new-channel-modal {
	margin-top: -91px;
}
#log-out-modal {
	margin-top: -55px;	
}
